/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}

body {
  padding: 0;
  margin: 0;
  font-family: Helvetica;
  text-transform: uppercase;
}

h1 {
  font-size: 2em;
}

.logo {
  width: 60vw;
}

section {
  width: 100vw;
  height: 100vh;
}

section:first-of-type {
  background-image: url("../images/bg1desktop.jpg");
  background-size: cover;
}

.border {
  width: 95vw;
  height: 70vh;
  border: 2px solid white;
  border-radius: 50px;
  background-color: rgba(176,169,160, .45);
  position: relative;
  top: 5em;
}

.positionsalbum {
  width: 50vw;
  height: auto;
  display: block;
  position: absolute;
  top: 10em;
}

section:nth-of-type(2) {
  background-image: url("../images/bg2.jpg");
  background-size: cover;
}

.positionssingle {
  width: 50vw;
  height: auto;
}

section:nth-of-type(3) {
  background-image: url("../images/bg3.jpg");
  background-size: cover;
  color: white;
}

.videoImg {
  width: 90vw;
}

section:nth-of-type(4) {
  background-image: url("../images/bg2.jpg");
  background-size: cover;
}

.positionsalbumlist {
  width: 50vw;
  height: auto;
}

section:nth-of-type(5) {
  background-image: url("../images/bg3.jpg");
  background-size: cover;
  color: white;
}

footer {
  background-color: black;
}



