/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}

body {
  padding: 0;
  margin: 0;
  font-family: Helvetica;
  text-transform: uppercase;
}

h1 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 1em;
}

p {
  margin: 0;
  padding: 1em;
}

button {
  background-color: #DEE5EB;
  padding: 1.3em 2em 1.3em 2em;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 4px rgba(0,0,0,.1); 
  font-family: Helvetica;
  text-transform: uppercase;
  font-weight: 700;
  transition: .3s ease-in-out all;
  transition-delay: 0s;
}

button:hover {
  background-color: white;
}

header {
  position: absolute;
}

header img {
  position: relative;
  width: 50vw;
  left: 25vw;
}

section {
  width: 100vw;
  height: 100vh;
  text-align: center;
  margin-bottom: 0;
}

section img {
  display: block;
  margin: 0 auto;
}

section:first-of-type {
  background-image: url("../images/bg1desktop.jpg");
  background-size: cover;
}

.border {
  width: 95vw;
  height: 70vh;
  border: 2px solid white;
  border-radius: 50px;
  background-color: rgba(176,169,160, .45);
  position: relative;
  top: 5em;
  left: 2.5vw;
}

section:first-of-type img {
  width: 80vw;
  height: auto;
  display: block;
  position: absolute;
  top: 10em;
  left: 10vw;
}



section:nth-of-type(2) {
  background-image: url("../images/bg2.jpg");
  background-size: cover;
}

section:nth-of-type(2) img {
  width: 60vw;
  height: auto;
  transform: rotate(-8deg);
  box-shadow: 1px 1px 6px 0 gray;
}



section:nth-of-type(3) {
  background-image: url("../images/bg3.jpg");
  background-size: cover;
  color: white;
}

.videoImg {
  width: 90vw;
  border: solid 2px white;
  border-radius: 25px;
}

section:nth-of-type(4) {
  background-image: url("../images/bg2.jpg");
  background-size: cover;
}

.positionsalbumlist {
  width: 50vw;
  height: auto;
  border-radius: 25px;
}

section:nth-of-type(5) {
  background-image: url("../images/bg3.jpg");
  background-size: cover;
  color: white;
}

footer {
  background-color: black;
}



